$color-light-blue:#43b4e4;
.mt-4 {
    margin-top: 1.5rem;
}

.item-box {
    border: 1px solid #ccc;
}

.description {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.no-padding {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
}

.text-blue {
    color: $color-light-blue;
}

.text-navy {
    color: #0064a8;
}

ion-item {
    font-size: 12px;
}

.in-line {
    display: inline-block;
}

.btn-blue {
    --background: #0064a8;
}

.btn-green {
    --background: #97c93d;
    --background-activated: #c0de8a;
}

.big {
    font-size: 30px;
}

.big-green {
    font-size: 30px;
    color: #97c93d;
}

.w-100 {
    width: 100%;
}

.input-text {
    border: 1px solid #ccc;
    border-radius: 6px;
}